.project_card {
    width: 40%;
    min-width: 200px;
    height: 500px;
    margin: 5%;
    padding: 2%;
    border-radius: 12px;
    box-shadow: #142831 0px 0px 15px -5px;
    background-color: aliceblue;
}

.project_card * {
    margin: 0;
}

.card_container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.card_container img {
    width: 100%;
    height: 100%;
    
}

.card_container > a {
    display: block;
}

.contenedor_img {
    position: relative;
    height: 150px;
    background-color: #999;
}

.contenedor_description {
    flex: 1;
    padding-top: 2%;
}

.contenedor_description > h4 {
    margin-top: 2%;
    margin-bottom: 2%;
}

.contenedor_description p {
    font-size: 0.9rem;
}

.urls {
    font-size: 0.9rem;
    margin-bottom: 2%;
}

.link_git {
    color: dodgerblue;
}

.link_git:hover {
    text-decoration: underline;
}

.contenedor_date {
    font-size: 0.9rem;
}

.wrapper {
    position: relative;
    border-top: 5px solid #4EA699;
    margin-top: 2%;
}

.tags_container {
    margin: 0 auto;
    padding-top: 4%;
    font-size: 0.8rem;
    white-space: nowrap;
    overflow-x: auto;
}

/* hide scrollbar but allow scrolling */
.tags_container {
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */
    overflow-y: scroll;
}
  
.tags_container::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
}

.tags_container > div {
    display: inline-block;
    padding: 2% 4%;
    margin: 1% 2%;
    border: 1px solid #A8A9B4;
    border-radius: 12px;
    background-color: #ccc;
}

.btn {
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 35%;
    padding: 0 5px;
    background-color: aliceblue;
    border: 1px solid #ccc;
    border-radius: 100%;
    cursor: pointer;
    -webkit-user-select: none;
    user-select: none;
}

.btn:hover {
    background-color: rgb(221, 225, 230);
}

.btn_l {
    visibility: hidden;
    left: 0;
    box-shadow: aliceblue 12px 0px 11px 11px;
}

.btn_r {
    right: 0;
    box-shadow: aliceblue -12px 0px 11px 11px;
}

@supports ((-webkit-hyphens:auto) or (hyphens:auto)) {
	.contenedor_description > p {
		text-align: justify;
		-webkit-hyphens: auto;
		hyphens: auto;
	}
}

@media all and (max-width: 768px) {
    .project_card {
        width: 80%;
        margin: 5% auto;
    }

    .contenedor_img {
        height: 200px;
        border-radius: 12px;
        overflow: hidden;
    }

    .tags_container {
        margin: 0 0;
        width: 100% !important;
    }

    .btn {
        visibility: hidden !important;
    }
}

@media screen and (max-width: 600px) {
    .contenedor_description p {
        font-size: 0.75rem;
    }

    .project_card {
        width: 90%;
        margin: 4% auto 8%;
    }
}
